page-home {
    ion-slides{
        height: 200px;
    }
    ion-icon{
        font-size: 3em;
        
    }
    // Android
    .card-md{
        margin-left: 5px;
    }
    .toolbar-title{
        padding-left: 35px;
    }
    // iOS
    .content-ios{
        background: #eee;
    }
    .toolbar-ios ion-title{
        padding: 0px;
    }
    // Custom
    .thumbnail{
        background: #fff;
        height: 100px;
        display: block;
    }
    .thumb-atas{
        height: 55px;
        padding-top: 14px;
        text-align: center;
    }
    .thumb-bawah{
        text-align: center;
    }
    .thumb-img{
        width: 35px;
    }
    .swiper-pagination-bullet-active{
        background: #ddd;
    }
    .logo-app{
        width: 30px;
        padding-left: 10px;
        position: absolute;
    }
}
